:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: rgba(234, 205, 189, 1);
  --secondary-color: rgba(51, 24, 0, 1);
  --top-title: 48px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}